a {
  text-decoration: none;
  color: currentColor;
}
/* .header {
  display: flex;
  justify-content: space-between;
  align-items: baseline;
}

.header > h2 > a {
  text-decoration: none;
  color: black;
}

.header > h2 + button > a {
  text-decoration: none;
  color: white;
} */