.ctl_panel {
  position: sticky;
  top: 65px;
  z-index: 10;
}

.preview pre {
  padding-top: 15px;
  border-radius: 3px;
  background: gainsboro;
}
.preview code {
  color: black;
  background: gainsboro;
  padding: 0 5px;
}

.preview blockquote {
    padding-left: 1em;
    margin: 0;
    color: .666666db;
    border-left: 0.5em lightblue solid;
  }

.preview p {
    margin: 1em 0;
  }

.preview img {
    max-width: 100%;
  }

/* .preview p > img {
    max-width: 60%;
  } */

.preview h1, h2, h3, h4, h5, h6 {
    font-weight: normal;
    line-height: 1em;
  }
.preview h4, h5, h6 {
    font-weight: bold;
  }
.preview h1 {
    font-size: 2.5em;
  }
.preview h2 {
    font-size: 2em;
  }
.preview h3 {
    font-size: 1.5em;
  }
.preview h4 {
    font-size: 1.2em;
  }
.preview h5 {
    font-size: 1em;
  }
.preview h6 {
    font-size: 0.9em;
  }

.preview ol {
    margin: 1em 0;
    padding: 0 0 0 2em;
  }

.preview ul {
    margin: 1em 0;
    padding: 0 0 0 2em;
    list-style: disc;
  }

.preview dd {
    margin: 0 0 0 2em;
  }

.preview table {
    margin: 10px 0 15px 0;
    border-collapse: collapse;
  }
.preview td, th {
    border: 2px solid #ccb8a3;
    padding: 3px 10px;
  }
.preview th {
    padding: 5px 10px;
    background: #ccb8a3a3;
  }